{% extends "base.html.twig" %}
{% block body %}
    <ul>
    {% for inventory in inventories %}
        <li>{{ inventory.personne }}</li>
        <li>{{ inventory.material }}</li>
        <li>{{ inventory.numberOfItem }}</li>
        <br>
    {% endfor %}
    </ul>

    {% for message in app.flashes('success_inventory') %}
        {{ message }}
    {% endfor %}
    {% for message in app.flashes('error_inventory') %}
        {{ message }}
    {% endfor %}
{% endblock %}