{% extends "base.html.twig" %}
{% block body %}
    {% for playerItem in playerItems %}
        <ul>
            <li>ID INV : {{ playerItem.id }}</li>
            <li>PLAYER : {{ playerItem.player }}</li>
            <li>ITEM : {{ playerItem.item }}</li>
            <li>POSITION : {{ playerItem.position }}</li>
            <li>DATE : {{ playerItem.createdAt|date }}</li>
        </ul>
    {% endfor %}

    {% for message in app.flashes('success_inventory') %}
        {{ message }}
    {% endfor %}
    {% for message in app.flashes('error_inventory') %}
        {{ message }}
    {% endfor %}
{% endblock %}