{% extends "base.html.twig" %}
{% block body %}
    <ul>
    {% for material in materials %}
        <li>TO STRING MATERIAL : {{ material }}</li>

        <a href="{{ path( 'app_material_edit', {'id' : material.id }) }}">Edit</a>

        <a href="{{ path( 'app_material_delete', {'id' : material.id }) }}">Delete</a>
        <br>
    {% endfor %}
    </ul>

    {% for message in app.flashes('success_material') %}
        {{ message }}
        {% endfor %}
    {% for message in app.flashes('error_material') %}
        {{ message }}
    {% endfor %}
{% endblock %}