{% extends "base.html.twig" %}
{% block body %}
    <ul>
    {% for personne in personnes %}
        <li>TO STRING PERSONNE : {{ personne }}</li>

        <a href="{{ path( 'app_personne_edit', {'id' : personne.id }) }}">Edit</a>

        <a href="{{ path( 'app_personne_delete', {'id' : personne.id }) }}">Delete</a>

        <br>
    {% endfor %}
    </ul>

    {% for message in app.flashes('success_personne') %}
        {{ message }}
    {% endfor %}
    {% for message in app.flashes('error_personne') %}
        {{ message }}
    {% endfor %}
{% endblock %}